---
import Section from "@/components/Section.astro";

import { work } from "@cv";

---

<Section title="Experiencia">
  <ul>
    {
      work.map(({ name, url, startDate, endDate, position, summary }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actualidad";
        const years = `${startYear} - ${endYear}`;
        return (
          <li>
            <article>
              <header>
                <div class="name">
                  
                      <a
                        href={url}
                        title={`Ingresar a ${url}`}
                        target="_blank"
                        rel="noopener noreferrer"
                      >
                        <h3>
                          {name}
                        </h3>
                      </a>
                  
                  <h4>{position}</h4>
                </div>
                <div class="date">
                  <time datetime={startDate} data-title={startDate}>
                    {startYear}
                  </time>
                  {" - "}
                  <time datetime={endDate} data-title={endDate}>
                    {endYear}
                  </time>
                </div>
              </header>
              <footer>
                <p>{summary}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5rem;
  }


  a {
    color: #777;
    display: inline-flex,
    padding: 0.5rem;
    /*text-decoration: none;*/
    transition: all 0.3s ease-in-out;
  }

 a:hover {
    color: #000;
    text-decoration: underline;
  }

  @media screen and (max-width: 700px) {  
    .name {
      width: 55%;
        
    }
    .date {
      text-align: right;
    }
    p {
      font-size: 0.85rem
    }
  }
</style>
